body {
  
}

.head{text-align: center;
  background: silver ;
  box-shadow: 10px 5px 5px blueviolet;
  border-radius: 10px;
  font-size: 40px;
  font-weight: bold;
  font-style: italic;
  color:rgb(221, 89, 221);
}


.sub{text-align: center;
  margin-top: 10px;
  border-radius:5px;
  height:35px;
  font-size:25px;
  font-style: italic;
  font-weight: bold;
  background: rgb(104, 2, 104);
  color: whitesmoke;
}
.cardview{display: inline-flex;
  align-items: center;
  width: 91%;
  
}
.card{width: 46%;
  height: 25vh;
  border:none;
  background: cornsilk;
 margin-left:6% ;
 margin-top: 10px;
  border-radius: 15px;
  text-align: center;
  box-shadow: 5px 5px 5px 5px rgb(94, 91, 91);
  
}
.card:hover{box-shadow:5px 5px 5px 5px rgb(77, 78, 76);
  width: 43%;
  height:18vh;
  background-color: aqua;
  
}

.card p{ font-size: 18px;
          font-weight: bold;
          font-style: italic;

}

a{text-decoration:none;

  
}