*{margin: 0;
padding: 0;}

nav{background: rgb(88, 87, 86);
width: 100%;
line-height: 60px;
height: 60px;}

label.logo{color: white;
margin-left: 40px;}
.ch1{
    text-align: center;
    background: rebeccapurple;
    color: aliceblue;
    font-size: 30px;
    font-weight: bold;

}

.ch button{width: 80%;
    height: 70px;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 20px;
    margin-bottom: 10px;
    background: aqua;
    font-size: 18px;
    border-radius: 10px;
    cursor: pointer;
    border: none;
    box-shadow: 2px 2px 2px 2px darkgray;
   
    
}
.ch button:hover{margin-left: 15%;}
.ch a button{text-decoration: none;
    font-weight: bold;
    color: beige;}

    @media (min-width:647px){

.ch button{width: 50%;
    height: 60px;
    margin-left: 25%;
    margin-right: 25%;
    margin-top: 35px;
    background: aqua;
    font-size: 20px;
   
    
}


    }


    .qa{box-shadow: 2px 2px 2px 2px darkgray;
        top: 10px;
        margin-top: 30px;
        margin-right: 10%;
        margin-left: 10%;
        width: 80%;
    }

    .a button{width: 96%;
    margin-left: 2%;
    margin-right: 2%;
    margin-bottom: 5px;
    margin-top: 5px;
    height: 40px;
    font-weight: bold;
}

button.ans{width: 50%;
margin-left: 48%;}

@media (min-width:600px){
    .qa{box-shadow: 2px 2px 2px 2px darkgray;
        top: 10px;
        margin-top: 30px;
        margin-right: 25%;
        margin-left: 25%;
        width: 50%;
    }

    .ch button:hover{margin-left: 30%;}

}


b{color: brown;
font-size: 13px;
margin-left: 10px;}
c{color: rgb(75, 15, 131);
font-size: 13px;
text-decoration: underline;
margin-left: 10px;}