body{margin: 0;
  background: linear-gradient(90deg, hsla(270, 94%, 25%, 1) 0%, hsla(158, 94%, 49%, 1) 100%);
 }


.class{font-size: 35px;
font-weight: bolder;
background: -webkit-linear-gradient(90deg, hsla(339, 100%, 55%, 1) 0%, hsla(178, 44%, 32%, 1) 100%);
  
filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#FF1B6B", endColorstr="#2E7775", GradientType=1 );
 
color: rgb(238, 44, 212);
text-shadow: 1px 1px 1px 1px  rgb(128, 124, 120);}

.toolbar{display:flex;
 width: 100%;
 background: linear-gradient(orange,white,green);
 position: -webkit-sticky;
 position: sticky;
 top:0;
}


.tool{
text-align: center;
width: 100%;
margin: 5px;

  
  
}
.toolbar button{background: darkcyan;
margin:2px;
border-radius: 10px;
font-weight: bold;
color: white;
height:  30px;
font-size: 20px;
 
}



.mc{display:none;
border: 2px solid rgb(233, 164, 73);
border-radius: 10px;
margin-top: 40px;
background:aqua;}

  

.m:hover .mc{display: block;}
.mc1{
  
}

.mc1 p{border:1px solid rgb(208, 233, 96);
  margin: 5px;
  box-shadow: 1px 1px 1px 1px darkgrey;
  border-radius: 5px;
}

.mc1 p:hover{background: orangered;}

.class{margin-top: 10px;
margin-left: 5%;
margin-right: 5%;
border: 2px solid darkgrey;
width:90%;
border-radius: 10px;
text-align: center;
box-shadow: 3px 3px 3px 3px darkgrey;
  
}

.class button{margin-top: 25px;
  width: 90%;
  height: 80px;
  margin:15Px;
  border-radius: 10px;
  font-size: 25px;
  font-weight: bold;
  background: -webkit-linear-gradient(120deg, hsla(152, 100%, 50%, 1) 0%, hsla(186, 100%, 69%, 1) 100%);
  color: rgb(238, 61, 185);
  border: none;
}

.class button:hover{background: linear-gradient(90deg, hsla(0, 0%, 37%, 1) 0%, hsla(59, 30%, 49%, 1) 100%);

  width: 80%;
  color: rgb(245, 242, 248);
  margin-left: 10%;
  margin-right: 10%;
}